name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Checkout Tree-sitter-pywire
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/tree-sitter-pywire
          path: _deps/tree-sitter-pywire
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install
      - name: Bundle Python dependencies
        run: pnpm run bundle-deps
      - name: Compile and Check Types
        run: |
          pnpm run check-types
          pnpm run compile
      - name: Build VSIX
        run: pnpm run vsix
      - name: Upload VSIX
        uses: actions/upload-artifact@v4
        with:
          name: vscode-pywire-extension
          path: "*.vsix"
