name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install
      - name: Compile
        run: pnpm run compile
      - name: Publish to Marketplace
        run: pnpm run vscode:prepublish && pnpm exec vsce publish -p ${{ secrets.VSCE_PAT }}
